{% extends "layout.html" %}

{% block body %}
<div id="home-page" class="page-content">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-3
                col-md-offset-2 col-md-3
                col-sm-offset-2 col-sm-3
                col-xs-12">
    <nav class="text-center">
      <ul>
        <li><a href="{{ url_for('projects') }}">projects</a></li>
        <li><a href="https://github.com/domoench" target="_blank">github</a></li>
        <li><a href="{{ url_for('static', filename='resume.pdf') }}">resume</a></li>
        <li><a href="http://www.linkedin.com/pub/david-ouyang-moench/5a/3a7/288" target="_blank">linkedin</a></li>
        <li><a href="{{ url_for('music') }}">music</a></li>
      </ul>
    </nav>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center">
    <h1>david ouyang moench</h1>
    <p>I'm a computer science student at UT Austin. I'm interested in modeling
       and simulation, computing for sustainability, and the web. I prefer
       Vim.</p>
    </div>
  </div>

</div> <!-- End #home-page -->
{% endblock %}
