<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>david ouyang moench</title>
  <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='img/identicon.ico') }}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
  
  {% block body %}{% endblock %}

  </div> <!-- End .container -->

    <!-- JQuery scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- fancyBox scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
      $(".fancybox").fancybox({
        padding:0,
        arrows:false
      });
        });
    </script>

  <!-- Bootstrap scripts -->
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>
</html>
