{% extends "layout.html" %}

{% block body %}

<div id="music-page" class="page-content">

  <div class="row detail-header">
    <a class="homelink col-lg-3 col-xs-4 pull-left" href="{{ url_for('index') }}">&lt;&lt; home</a>
    <div class="pull-right text-right col-lg-9 col-xs-8">
      <h1>david ouyang moench</h1>
      <h2>Music</h2>
    </div>
  </div>

    <section class="project-category">
        <h3>Originals</h3>

        <div class="vid-link">
    <a class="fancybox fancybox.iframe" rel="group"
       href="http://www.youtube.com/embed/0FjG0K4VdNc">Simple</a>
        </div>

        <div class="vid-link">
    <a class="fancybox fancybox.iframe" rel="group"
       href="http://www.youtube.com/embed/fSukhT3Zklw?list=UUoXNgHH92hoehUGgR5m6jgQ">Don't Remember</a>
        </div>

    <div class="link">
      <a href="http://gormanzee.bandcamp.com/album/the-house-on-the-shore">The House On The Shore (Theater Score)</a>
    </div>

    <div class="link">
      <a href="http://gormanzee.bandcamp.com/album/gormanzee">Gormanzee (Theater Score)</a>
    </div>
    </section>

    <section class="project-category">
        <h3>Covers</h3>

        <div class="vid-link">
    <a class="fancybox fancybox.iframe" rel="group"
       href="http://www.youtube.com/embed/PV_NHePF4Go">'At My Heels' - Twin Shadow</a>
        </div>

        <div class="vid-link">
    <a class="fancybox fancybox.iframe" rel="group"
       href="http://www.youtube.com/embed/RVTokuDLDJY?list=UUoXNgHH92hoehUGgR5m6jgQ">'Twice' - Little Dragon</a>
        </div>

        <div class="vid-link">
    <a class="fancybox fancybox.iframe" rel="group"
       href="http://www.youtube.com/embed/L83K6KPee9k?list=UUoXNgHH92hoehUGgR5m6jgQ">
                'Modern Love/Modern Romance' - Yeah Yeah Yeahs/Bloc Party</a>
        </div>
    </section>

</div> <!-- End #music-page -->

{% endblock %}
