// IMPORTS
@import "reset.css";
@import "bootstrap.css";

$screen-sm-min: 768px;

@mixin baselink {
  text-decoration: none;
  @include basicTrans(200ms);
  color: #000000;
  &:hover {
    color: #62B1D0;
  }
}

@mixin shadow($h_off, $v_off, $blur_r, $color)
{
  -moz-box-shadow:    $h_off $v_off $blur_r 0 $color;
  -webkit-box-shadow: $h_off $v_off $blur_r 0 $color;
  box-shadow:         $h_off $v_off $blur_r 0 $color;
}

@mixin basicTrans($ms)
{
  -webkit-transform: translateZ(0);
  -webkit-transition: $ms linear;
  -o-transition: $ms linear;
  -moz-transition: $ms linear;
  transition: $ms linear;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding-top: 0em;
}

@media (min-width: $screen-sm-min) {
  .container {
    padding-top: 50px;
  }
}

.homelink {
  padding-top: 30px;
  text-decoration: none;
}

#home-page {
  h1 {
    padding-bottom: 15px;
  }

  nav {
    background-color: #053749;

    ul {
      padding-top: 1em;
      padding-bottom: 1em;
      list-style-type: none;

      li {
        padding: 0.2em;
        font-size: 20px;
        
        a {
          text-decoration: none;
          color: #FFE9D2;
          &:hover {
            color: #EFA658;
          }
        }
      }
    }
  }
}

.detail-header {
  a {
    @include baselink;
  }

  h2 {
    margin-top: 0px;
    color: gray;
    font-size: 20px;
  }
}

#projects-page {
  section.project {
    a {
      text-decoration: none;
      display: block;
      padding: 5px 20px;

      h3 {
        margin: 10px 0px;
        color: #053749;
      }

      p {
        color: #232828;
      }

      @include basicTrans(150ms);
      &:hover {
        @include shadow(3px, 3px, 6px, #AAAAAA);
        background-color: #EEEEEE;
      }
    }
  }
}

#music-page {
  section.project-category {
    padding-bottom: 20px;

    h3 {
      margin: 10px 0px;
      color: #053749;
    }

    .link, .vid-link {
      padding: 7px 20px;
      a {
        @include baselink;
        color: #7C7777;
        font-size: 16px;
      }
    }
  }
}

#fmri-viz-page {
  section {
    padding: 20px 10px;
    p {
      a {
        @include baselink;
        color: #62B1D0;
        &:hover {
          color: #EFA658;
        }
      }
    }
  }
}
