<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container blubox">
      {% include header.html title=page.title %}

      <img class="img-fluid" src="https://images.ctfassets.net/27fg4ukdwv10/eqmLcsuKZiqWoGE44WCMQ/b2439d60bdaa62fcecc3e4dff41ef6d7/IMG_20180430_182002.jpg?w=1170" alt="Blubox cedar siding" />

      <p>
        Designed and built a tiny house out of structural insulated panels.
      </p>

      <p>
        Blog: <a href="https://blubox.house">https://blubox.house</a>
      </p>

      <p>
        Instagram: <a href="https://instagram.com/blubox.th">@blubox.th</a>
      </p>

      <p>
        The <a href="https://www.blubox.house/update/2017/07/07/sips.html">blubox website</a> includes
        <a href="https://github.com/domoench/blubox/blob/master/_includes/setup-threejs.html">a three.js/WebGL experiment</a>
        I wrote to load 3d sketchup models into a web browser as an interactive visualization.
      </p>

    <div>
  </body>

</html>
