<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="splash">
      <svg id="splash-svg" width="100vw" height="100vh">
      </svg>
      <div id="overlay">
        <div class="overlay-content" style="opacity:0.0">
          <header>
            <h1>{{ site.title }}</h1>
          </header>
          <nav>
            <ul>
              <li>
                <a href="/assets/resume.pdf">resume</a>
              </li>
              <li>
                <a href="/projects">projects</a>
              </li>
              <li>
                <a href="https://github.com/domoench">github</a>
              </li>
              <li>
                <a href="http://www.linkedin.com/pub/david-ouyang-moench/5a/3a7/288">linkedin</a>
              </li>
              <li>
                <a href="/music">music</a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
    <script type="text/javascript" src="splash.js"></script>
  </body>

</html>
