<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container music">
      {% include header.html title=page.title %}

      <h3>Originals</h3>
      <ul>
        <li>
          <a href="https://soundcloud.com/domkamin/sayin-it-right">Sayin it right (prod. ohyung)</a>
        </li>
        <li>
          <a href="https://youtu.be/0FjG0K4VdNc">Simple</a>
        </li>
        <li>
          <a href="https://soundcloud.com/domkamin/sayin-it-right">Sayin It Right</a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=fSukhT3Zklw">Don't Remember</a>
        </li>
      </ul>

      <h3>Covers</h3>
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=PV_NHePF4Go">'At My Heels' - Twin Shadow</a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=RVTokuDLDJY">'Twice' - Little Dragon</a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=L83K6KPee9k">'Modern Love/Modern Romance' - Yeah Yeah Yeahs/Bloc Party</a>
        </li>
      </ul>
    </div>
  </body>

</html>
